.title {
  color: #2e2f42;
  font-size: 48px;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-weight: 500;
}
.label {
  font-size: 24px;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  color: #2e2f42;
}
.input {
  width: 250px;
  height: 44px;
  padding: 4px 8px;
  border-radius: 12px;
  border: 1px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}
.divInput {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 140px;
}
